body>div.jGrowl{position:fixed}
div.jGrowl{font-size:1.1rem}
div.jGrowl.top-left{left:10px;top:100px}
div.jGrowl.top-right{right:10px;top:100px}
div.jGrowl.bottom-left{left:10px;bottom:24px}
div.jGrowl.bottom-right{right:10px;bottom:24px}
div.jGrowl.center{top:100px;left:40%}
div.jGrowl div.jGrowl-notify.alert{color:#F0000C;background-color:#FF9E9E;opacity:0.96;border:1px solid #F0000C;box-shadow:2px 2px 1px #888888}
div.jGrowl div.jGrowl-notify.warning{color:#E68A00;background-color:#FEEFB3;opacity:0.96;border:1px solid #E68A00;box-shadow:2px 2px 1px #888888}
div.jGrowl div.jGrowl-notify.normal{color:#4F8A10;background-color:#DFF2BF;opacity:0.96;border:1px solid #4F8A10;box-shadow:2px 2px 1px #888888}
div.jGrowl div.jGrowl-notify.default{color:#42453E;background-color:#808080;opacity:0.96;border:1px solid #42453E;box-shadow:2px 2px 1px #888888}
div.jGrowl div.jGrowl-notify{min-height:4rem;width:380px;padding:10px;margin:5px 0;text-align:left;border-radius:6px}
div.jGrowl div.jGrowl-notify div.jGrowl-header{font-weight:bold}
div.jGrowl div.jGrowl-notify div.jGrowl-close{float:right;cursor:pointer}
div.jGrowl div.jGrowl-closer{width:400px;color:#808080;background-color:#121510;opacity:0.96;border:2px solid #B0B0B0;margin:5px 0;padding:4px 0;cursor:pointer;font-weight:bold;text-align:center;border-radius:6px}
div.jGrowl div.jGrowl-closer.top{position:fixed;top:130px}
@media print{div.jGrowl{display:none}}
.ui-dropdownchecklist{background-color:transparent;background-image:linear-gradient(66.6deg, transparent 60%, #1c1c1c 40%),linear-gradient(113.4deg, #1c1c1c 40%, transparent 60%);background-position:calc(100% - 4px),100%;background-size:4px 6px,4px 6px;background-repeat:no-repeat;border:none;box-shadow:0 1px 0 #1c1c1c;outline:none;height:2.5rem;line-height:2.5rem;cursor:pointer}
.ui-dropdownchecklist-selector{border:none;border-bottom:1px solid #1c1c1c;outline: none;display:inline-block;cursor:pointer;padding:1px 0}
.ui-dropdownchecklist-group{font-weight:normal;font-style:italic;padding:1px 9px 1px 11px}
.ui-dropdownchecklist-selector-wrapper{vertical-align:middle;font-size:0}
.ui-state-active{border-color:#ff8c2f;background:transparent}
.ui-dropdownchecklist-dropcontainer{color:#1c1c1c;background-color:#e8e8e8;border:#ff8c2f 1px solid}
.ui-state-disabled{color:#1c1c1c;border-bottom-color:#a2a2a2;opacity:0.5;cursor:default}
.ui-dropdownchecklist-indent{padding-left:7px}
.ui-dropdownchecklist-text{font-family:-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, sans-serif;font-size:1.1rem;color:#1c1c1c}
.ui-dropdownchecklist-item{height:2.4rem;line-height:2.4rem}
.ui-dropdownchecklist-item input{vertical-align:top}
#sb-info-inner,#sb-loading-inner,div.sb-message{color:#1c1c1c;background-color:#f2f2f2}
#sb-title,#sb-title-inner{border-top-left-radius:10px;border-top-right-radius:10px;width:100%;height:5rem;line-height:5rem;font-family:-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, sans-serif;font-size:1.6rem;font-weight:bold;background:#C0C0C0;color:#606060;text-indent:10px;text-align:center}
#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:hidden}
#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:999;text-align:left;visibility:hidden;display:none}
#sb-overlay{position:relative;height:100%;width:100%}
#sb-wrapper{position:absolute;visibility:hidden;width:100px;border:1px #808080 solid;border-radius:10px;color:#1c1c1c;background:#f2f2f2}
#sb-wrapper-inner{overflow:hidden;height:10rem}
#sb-body{position:relative;height:100%}
#sb-body-inner{position:absolute;height:100%;width:100%;color:#1c1c1c;background:#f2f2f2}
#sb-body img{border:none}
#sb-loading{position:relative;height:100%}
#sb-loading-inner{position:absolute;font-size:1.8rem;line-height:2rem;height:2rem;top:50%;margin-top:-12px;width:100%;text-align:center}
#sb-loading-inner span{background:url(../images/loading.gif) no-repeat;padding-left:22px;display:inline-block}
#sb-body,#sb-loading{color:#1c1c1c;background-color:#f2f2f2}
#sb-info,#sb-info-inner{height:2rem;line-height:2rem}
#sb-info-inner{font-family:-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, sans-serif;font-size:1.3rem}
#sb-nav{float:right;height:16px;padding:2px 0;width:45%}
#sb-nav a{display:block;float:right;height:16px;width:16px;margin-left:3px;cursor:pointer;background-repeat:no-repeat}
#sb-nav-close{background-image:url(../images/close.png);position:absolute;display:block;z-index:999;width:32px;height:32px;top:-16px;right:-16px;cursor:pointer}
#sb-counter{float:left;width:45%}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer}
#sb-counter a.sb-counter-current{text-decoration:underline}
table.tablesorter{margin:0 0 15px 0}
table.tablesorter thead tr{border-bottom:#e3e3e3 1px solid}
table.tablesorter thead tr th{font-weight:normal;color:#1c1c1c;background:#e8e8e8;padding:8px 20px 8px 6px;white-space:nowrap;text-align:left}
table.tablesorter thead tr .tablesorter-header{background-repeat:no-repeat;background-position:center right;cursor:pointer}
table.tablesorter thead tr .tablesorter-headerAsc{background-image:url(../images/sort-asc.png)}
table.tablesorter thead tr .tablesorter-headerDesc{background-image:url(../images/sort-desc.png)}
table.tablesorter thead tr .tablesorter-headerAsc, table.tablesorter thead tr .tablesorter-headerDesc{background-color:#e8e8e8}
table.tablesorter tbody tr:nth-child(even){background-color:#ededed}
table.tablesorter.four tbody tr:nth-child(4n-1){background-color:#ededed}
table.tablesorter tbody tr.tr_last{background:#ededed;border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3}
table.tablesorter tbody tr.tr_last td{padding:8px 20px 8px 6px}
table.tablesorter tbody tr td{padding:4px 20px 4px 6px;vertical-align:middle;text-align:justify}
table.tablesorter.plugins td:first-child{width:64px;text-align:center}
table.tablesorter.plugins tr>td+td+td{width:9%;white-space:nowrap}
table.tablesorter.plugins td:last-child{width:9.6rem;padding:0}
table.tablesorter .desc_readmore strong,table.tablesorter .desc_readmore h4{font-size:1.3rem}
table.tablesorter .desc_readmore h4,table.tablesorter .desc_readmore p:first-child{margin:0}
table.tablesorter.left th,table.tablesorter.left td{text-align:left;width:20%}
table.tablesorter.left th:first-child,table.tablesorter.left td:first-child{width:8%}
table.tablesorter.left th:nth-last-child(2),table.tablesorter.left td:nth-last-child(2){width:8%}
table.tablesorter.left th:last-child,table.tablesorter.left td:last-child{text-align:right;width:4%}
table.tablesorter.shift{margin-top:-30px}
table.tablesorter.kvm{display:block;padding-top:24px}
table.tablesorter thead.fixed{display:table;width:100%}
table.tablesorter tbody.fixed{display:block;overflow:auto}
table.tablesorter.indexer thead th:first-child{width:4%}
table.tablesorter.indexer thead th,table.tablesorter.indexer tbody td,table.tablesorter.indexer tfoot td{padding-left:10px}
table.tablesorter.indexer thead tr>th+th{width:auto;text-align:left}
table.tablesorter.indexer thead tr>th+th+th{width:14%}
table.tablesorter.indexer tfoot td{padding-top:10px;font-size:1.1rem}
span.select ul{display:none;list-style-type:none;margin:0 0 2px 0;padding:0}
span.select ul.unused{display:block}
span.select ul li.nosort{font-weight:bold}
span.select ul li.ident{padding-left:7px}
span.select ul li span{display:none}
span.select{padding:3px 6px;margin:0 10px 0 0;border:none;border-radius:4px;box-shadow:0 2px 0 #ff8c2f,inset 0 -1px #f2f2f2;background:tranparent;outline:none;display:inline-block;cursor:pointer}
span.select[disabled]{color:#1c1b1b;border-color:#808080;background:#e8e8e8;opacity:0.5;cursor:default}
div.sb-message{padding:10px;text-align:center}
div.sb-message a:link,div.sb-message a:visited{color:#486DBA;text-decoration:underline}
div.box{margin-top:0;line-height:3rem;color:#f2f2f2;margin-left:0}
div.box div{padding:10px;border-bottom:rgba(0,0,0,0.1) 1px solid}
div.icon-file{background:url('../images/file-types.png') -112px -112px;width:16px;height:16px}
div.icon-ogg{background:url('../images/file-types.png') 0 0;width:16px;height:16px}
div.icon-php{background:url('../images/file-types.png') -16px 0;width:16px;height:16px}
div.icon-cs{background:url('../images/file-types.png') -32px 0;width:16px;height:16px}
div.icon-jpeg{background:url('../images/file-types.png') -48px 0;width:16px;height:16px}
div.icon-py{background:url('../images/file-types.png') -64px 0;width:16px;height:16px}
div.icon-deb{background:url('../images/file-types.png') -80px 0;width:16px;height:16px}
div.icon-xpi{background:url('../images/file-types.png') -96px 0;width:16px;height:16px}
div.icon-jar{background:url('../images/file-types.png') -112px 0;width:16px;height:16px}
div.icon-class{background:url('../images/file-types.png') -128px 0;width:16px;height:16px}
div.icon-7z{background:url('../images/file-types.png') 0 -16px;width:16px;height:16px}
div.icon-lua{background:url('../images/file-types.png') -16px -16px;width:16px;height:16px}
div.icon-gz{background:url('../images/file-types.png') -32px -16px;width:16px;height:16px}
div.icon-png{background:url('../images/file-types.png') -48px -16px;width:16px;height:16px}
div.icon-dot{background:url('../images/file-types.png') -64px -16px;width:16px;height:16px}
div.icon-odg{background:url('../images/file-types.png') -80px -16px;width:16px;height:16px}
div.icon-conf{background:url('../images/file-types.png') -96px -16px;width:16px;height:16px}
div.icon-asc{background:url('../images/file-types.png') -112px -16px;width:16px;height:16px}
div.icon-txt{background:url('../images/file-types.png') -128px -16px;width:16px;height:16px}
div.icon-odf{background:url('../images/file-types.png') 0 -32px;width:16px;height:16px}
div.icon-divx{background:url('../images/file-types.png') -16px -32px;width:16px;height:16px}
div.icon-pl{background:url('../images/file-types.png') -32px -32px;width:16px;height:16px}
div.icon-html{background:url('../images/file-types.png') -48px -32px;width:16px;height:16px}
div.icon-audio{background:url('../images/file-types.png') -64px -32px;width:16px;height:16px}
div.icon-flac{background:url('../images/file-types.png') -64px -32px;width:16px;height:16px}
div.icon-midi{background:url('../images/file-types.png') -64px -32px;width:16px;height:16px}
div.icon-tgz{background:url('../images/file-types.png') -80px -32px;width:16px;height:16px}
div.icon-wma{background:url('../images/file-types.png') -96px -32px;width:16px;height:16px}
div.icon-xls{background:url('../images/file-types.png') -112px -32px;width:16px;height:16px}
div.icon-vsd{background:url('../images/file-types.png') -128px -32px;width:16px;height:16px}
div.icon-aiff{background:url('../images/file-types.png') 0 -48px;width:16px;height:16px}
div.icon-iso{background:url('../images/file-types.png') -16px -48px;width:16px;height:16px}
div.icon-c{background:url('../images/file-types.png') -32px -48px;width:16px;height:16px}
div.icon-mp3{background:url('../images/file-types.png') -48px -48px;width:16px;height:16px}
div.icon-mp4{background:url('../images/file-types.png') -80px -112px;width:16px;height:16px}
div.icon-cfm{background:url('../images/file-types.png') -64px -48px;width:16px;height:16px}
div.icon-rb{background:url('../images/file-types.png') -80px -48px;width:16px;height:16px}
div.icon-mm{background:url('../images/file-types.png') -96px -48px;width:16px;height:16px}
div.icon-xml{background:url('../images/file-types.png') -112px -48px;width:16px;height:16px}
div.icon-ppt{background:url('../images/file-types.png') -128px -48px;width:16px;height:16px}
div.icon-odc{background:url('../images/file-types.png') 0 -64px;width:16px;height:16px}
div.icon-ods{background:url('../images/file-types.png') -16px -64px;width:16px;height:16px}
div.icon-vcf{background:url('../images/file-types.png') -32px -64px;width:16px;height:16px}
div.icon-rm{background:url('../images/file-types.png') -48px -64px;width:16px;height:16px}
div.icon-pdf{background:url('../images/file-types.png') -64px -64px;width:16px;height:16px}
div.icon-cfc{background:url('../images/file-types.png') -80px -64px;width:16px;height:16px}
div.icon-rtf{background:url('../images/file-types.png') -96px -64px;width:16px;height:16px}
div.icon-sql{background:url('../images/file-types.png') -112px -64px;width:16px;height:16px}
div.icon-csv{background:url('../images/file-types.png') -128px -64px;width:16px;height:16px}
div.icon-odt{background:url('../images/file-types.png') 0 -80px;width:16px;height:16px}
div.icon-js{background:url('../images/file-types.png') -16px -80px;width:16px;height:16px}
div.icon-zip{background:url('../images/file-types.png') -32px -80px;width:16px;height:16px}
div.icon-sxd{background:url('../images/file-types.png') -48px -80px;width:16px;height:16px}
div.icon-mov{background:url('../images/file-types.png') -64px -80px;width:16px;height:16px}
div.icon-ram{background:url('../images/file-types.png') -80px -80px;width:16px;height:16px}
div.icon-bz2{background:url('../images/file-types.png') -96px -80px;width:16px;height:16px}
div.icon-wmv{background:url('../images/file-types.png') -112px -80px;width:16px;height:16px}
div.icon-bin{background:url('../images/file-types.png') -128px -80px;width:16px;height:16px}
div.icon-m{background:url('../images/file-types.png') 0 -96px;width:16px;height:16px}
div.icon-mpg{background:url('../images/file-types.png') -16px -96px;width:16px;height:16px}
div.icon-rpm{background:url('../images/file-types.png') -32px -96px;width:16px;height:16px}
div.icon-tar{background:url('../images/file-types.png') -48px -96px;width:16px;height:16px}
div.icon-wav{background:url('../images/file-types.png') -64px -96px;width:16px;height:16px}
div.icon-htm{background:url('../images/file-types.png') -80px -96px;width:16px;height:16px}
div.icon-rar{background:url('../images/file-types.png') -96px -96px;width:16px;height:16px}
div.icon-css{background:url('../images/file-types.png') -112px -96px;width:16px;height:16px}
div.icon-sig{background:url('../images/file-types.png') -128px -96px;width:16px;height:16px}
div.icon-xvid{background:url('../images/file-types.png') 0 -112px;width:16px;height:16px}
div.icon-cpp{background:url('../images/file-types.png') -16px -112px;width:16px;height:16px}
div.icon-dirup{background:url('../images/file-types.png') -32px -112px;width:16px;height:16px}
div.icon-jpg{background:url('../images/file-types.png') -48px -112px;width:16px;height:16px}
div.icon-sxc{background:url('../images/file-types.png') -64px -112px;width:16px;height:16px}
div.icon-video{background:url('../images/file-types.png') -80px -112px;width:16px;height:16px}
div.icon-mkv{background:url('../images/file-types.png') -80px -112px;width:16px;height:16px}
div.icon-mk3{background:url('../images/file-types.png') -80px -112px;width:16px;height:16px}
div.icon-mts{background:url('../images/file-types.png') -80px -112px;width:16px;height:16px}
div.icon-m2ts{background:url('../images/file-types.png') -80px -112px;width:16px;height:16px}
div.icon-vob{background:url('../images/file-types.png') -80px -112px;width:16px;height:16px}
div.icon-odi{background:url('../images/file-types.png') -96px -112px;width:16px;height:16px}
div.icon-enc{background:url('../images/file-types.png') -128px -112px;width:16px;height:16px}
div.icon-ai{background:url('../images/file-types.png') 0 -128px;width:16px;height:16px}
div.icon-gif{background:url('../images/file-types.png') -16px -128px;width:16px;height:16px}
div.icon-pgp{background:url('../images/file-types.png') -32px -128px;width:16px;height:16px}
div.icon-odp{background:url('../images/file-types.png') -48px -128px;width:16px;height:16px}
div.icon-chm{background:url('../images/file-types.png') -64px -128px;width:16px;height:16px}
div.icon-image{background:url('../images/file-types.png') -80px -128px;width:16px;height:16px}
div.icon-tiff{background:url('../images/file-types.png') -80px -128px;width:16px;height:16px}
div.icon-tif{background:url('../images/file-types.png') -80px -128px;width:16px;height:16px}
div.icon-sxw{background:url('../images/file-types.png') -96px -128px;width:16px;height:16px}
div.icon-doc{background:url('../images/file-types.png') -112px -128px;width:16px;height:16px}
div.icon-ps{background:url('../images/file-types.png') -128px -128px;width:16px;height:16px}
div.icon-java{background:url('../images/file-types.png') 0 -144px;width:16px;height:16px}
div.icon-swf{background:url('../images/file-types.png') -16px -144px;width:16px;height:16px}
div.icon-folder{background:url('../images/file-types.png') -32px -144px;width:16px;height:16px}
div.icon-hlp{background:url('../images/file-types.png') -48px -144px;width:16px;height:16px}
div.icon-tex{background:url('../images/file-types.png') -64px -144px;width:16px;height:16px}
div.icon-sxi{background:url('../images/file-types.png') -80px -144px;width:16px;height:16px}
div.icon-eml{background:url('../images/file-types.png') -96px -144px;width:16px;height:16px}
.tooltipster-fall,.tooltipster-grow.tooltipster-show{-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1);-moz-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-ms-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-o-transition-timing-function:cubic-bezier(.175,.885,.32,1.15)}
.tooltipster-base{display:flex;pointer-events:none;position:absolute}
.tooltipster-box{flex:1 1 auto}
.tooltipster-content{box-sizing:border-box;max-height:100%;max-width:100%;overflow:auto}
.tooltipster-ruler{bottom:0;left:0;overflow:hidden;position:fixed;right:0;top:0;visibility:hidden}
.tooltipster-fade{opacity:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;-ms-transition-property:opacity;transition-property:opacity}
.tooltipster-fade.tooltipster-show{opacity:1}
.tooltipster-grow{-webkit-transform:scale(0,0);-moz-transform:scale(0,0);-o-transform:scale(0,0);-ms-transform:scale(0,0);transform:scale(0,0);-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-backface-visibility:hidden}
.tooltipster-grow.tooltipster-show{-webkit-transform:scale(1,1);-moz-transform:scale(1,1);-o-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);transition-timing-function:cubic-bezier(.175,.885,.32,1.15)}
.tooltipster-swing{opacity:0;-webkit-transform:rotateZ(4deg);-moz-transform:rotateZ(4deg);-o-transform:rotateZ(4deg);-ms-transform:rotateZ(4deg);transform:rotateZ(4deg);-webkit-transition-property:-webkit-transform,opacity;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform}
.tooltipster-swing.tooltipster-show{opacity:1;-webkit-transform:rotateZ(0);-moz-transform:rotateZ(0);-o-transform:rotateZ(0);-ms-transform:rotateZ(0);transform:rotateZ(0);-webkit-transition-timing-function:cubic-bezier(.23,.635,.495,1);-webkit-transition-timing-function:cubic-bezier(.23,.635,.495,2.4);-moz-transition-timing-function:cubic-bezier(.23,.635,.495,2.4);-ms-transition-timing-function:cubic-bezier(.23,.635,.495,2.4);-o-transition-timing-function:cubic-bezier(.23,.635,.495,2.4);transition-timing-function:cubic-bezier(.23,.635,.495,2.4)}
.tooltipster-fall{-webkit-transition-property:top;-moz-transition-property:top;-o-transition-property:top;-ms-transition-property:top;transition-property:top;-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);transition-timing-function:cubic-bezier(.175,.885,.32,1.15)}
.tooltipster-fall.tooltipster-initial{top:0}
.tooltipster-fall.tooltipster-dying{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;-ms-transition-property:all;transition-property:all;top:0;opacity:0}
.tooltipster-slide{-webkit-transition-property:left;-moz-transition-property:left;-o-transition-property:left;-ms-transition-property:left;transition-property:left;-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1);-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-moz-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-ms-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-o-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);transition-timing-function:cubic-bezier(.175,.885,.32,1.15)}
.tooltipster-slide.tooltipster-initial{left:-40px}
.tooltipster-slide.tooltipster-dying{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;-ms-transition-property:all;transition-property:all;left:0;opacity:0}
@keyframes tooltipster-fading{0%{opacity:0}100%{opacity:1}}
.tooltipster-update-fade{animation:tooltipster-fading .4s}
@keyframes tooltipster-rotating{25%{transform:rotate(-2deg)}75%{transform:rotate(2deg)}100%{transform:rotate(0)}}
.tooltipster-update-rotate{animation:tooltipster-rotating .6s}
@keyframes tooltipster-scaling{50%{transform:scale(1.1)}100%{transform:scale(1)}}
.tooltipster-update-scale{animation:tooltipster-scaling .6s}
/*.tooltipster-sidetip .tooltipster-box{background:#565656;border:2px solid #000;border-radius:4px}*/
.tooltipster-sidetip .tooltipster-box{border-radius:5px;border:none;background:-webkit-gradient(linear,left top,right top,from(#303030),to(#707070));background:linear-gradient(90deg,#303030 0,#707070)}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-box{margin-top:8px}
.tooltipster-sidetip.tooltipster-left .tooltipster-box{margin-right:8px}
.tooltipster-sidetip.tooltipster-right .tooltipster-box{margin-left:8px}
/*.tooltipster-sidetip.tooltipster-top .tooltipster-box{margin-bottom:8px}*/
.tooltipster-sidetip.tooltipster-top .tooltipster-box{margin-bottom:7px}
/*.tooltipster-sidetip .tooltipster-content{color:#fff;line-height:18px;padding:6px 14px}*/
.tooltipster-sidetip .tooltipster-content{color:#f2f2f2;padding:8px 16px}
.tooltipster-sidetip .tooltipster-arrow{overflow:hidden;position:absolute}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow{height:10px;margin-left:-10px;top:0;width:20px}
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow{height:20px;margin-top:-10px;right:0;top:0;width:10px}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow{height:20px;margin-top:-10px;left:0;top:0;width:10px}
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow{bottom:0;height:10px;margin-left:-10px;width:20px}
.tooltipster-sidetip .tooltipster-arrow-background,.tooltipster-sidetip .tooltipster-arrow-border{height:0;position:absolute;width:0}
/*.tooltipster-sidetip .tooltipster-arrow-background{border:10px solid transparent}*/
.tooltipster-sidetip .tooltipster-arrow-background{display:none}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background{border-bottom-color:#565656;left:0;top:3px}
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background{border-left-color:#565656;left:-3px;top:0}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background{border-right-color:#565656;left:3px;top:0}
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background{border-top-color:#565656;left:0;top:-3px}
.tooltipster-sidetip .tooltipster-arrow-border{border:10px solid transparent;left:0;top:0}
/*.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border{border-bottom-color:#000}*/
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border{border-bottom-color:#1c1c1c}
/*.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border{border-left-color:#000}*/
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border{border-left-color:#1c1c1c}
/*.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border{border-right-color:#000}*/
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border{border-right-color:#1c1c1c}
/*.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border{border-top-color:#000}*/
.tooltipster-sidetip .tooltipster-arrow-uncropped{position:relative}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-uncropped{top:-10px}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-uncropped{left:-10px}
.tooltipster-sidetip.tooltipster-top .tooltipster-box{border-bottom:3px solid #ff8c2f}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-box{border-top:3px solid #ff8c2f}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border{border-bottom-color:#ff8c2f}
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border{border-top-color:#ff8c2f}
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border{border-left-color:#ff8c2f}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border{border-right-color:#ff8c2f}
.tooltipster-sidetip.tooltipster-left .tooltipster-box{border-right:3px solid #ff8c2f}
.tooltipster-sidetip.tooltipster-right .tooltipster-box{border-left:3px solid #ff8c2f}
.fileTree{background-color:#f2f2f2}